    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: comic-sans;


    }
    
    h1{
        color: brown;
        text-align: center;
        font-size: 100px;
    }

    body{
        background-color: #7bd160;
        line-height: 1;
        padding: 30px;
        font-family: fantasy;
        background-image: url("assets/tony-soprano-pool\ \(1\).webp");
    }

    p{
        color: rgb(22, 6, 252);
        font-size: 30px;
        text-align: justify;
        font-family:'Times New Roman', Times, serif
    }