/* RESET DASW CONFIGURAÇÕES DO NAVEGADOR */ 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ESTILIZAÇÃO DO BODY */
body {  
    
    background-color: #851414;
    color: #000000;
}

h2 {
    font-family: 'comic sans ms', sans-serif;
    text-align: center;
    margin-top: 20px;
    font-size: 100px;
    color: #000000;
}

p {
    font-family: 'comic sans ms', sans-serif;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    color: #000000;
}

img {
    display: block;
    margin: 10px auto;
    max-width: 20%;
    height: auto;
}